{
  "trailingComma": "es5",
  "singleQuote": false,
  "importOrder": [
    "^~/(components|contexts|hooks|screens|theme)($|/(.*)$)",
    "^~/graph($|/(.*)$)",
    "^~/i18n($|/(.*)$)",
    "^~/utils($|/(.*)$)",
    "^~/(.*)$",
    "^../(.*)$",
    "^./(.*)$"
  ],
  "importOrderSeparation": true
}
